.text {
    font: "sans-serif"
}

.resize-handle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 8px;
  right: 0;
  top: 0;
  border-right: 2px solid transparent;
}

.resize-handle:hover {
  border-color: #ccc;
}

.resize-handle.active {
  border-color: #517ea5;
}
